{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>SIMEC</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Sistema Integrado de Médico en tu Casa - SIMEC</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="{% url 'index' %}">Inicio</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Salidas de campo</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="#calendario" data-toggle="tab">XXs</a></li> -->
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="general">
                <!-- Post -->
                <section class="content">
                  <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                      <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                          <div class="inner">
                            <h3>{{ equipo_list|length }}</h3>
                            <p>Equipos</p>
                          </div>
                          <div class="icon">
                            <i class="fas fa-users"></i>
                          </div>
                          <a href="{% url 'equipo' %}" class="small-box-footer">Más información <i
                              class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <!-- ./col -->
                      <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                          <div class="inner">
                            <h3>{{ sensores_estacion_list|length }}</h3>

                            <p>Zonas</p>
                          </div>
                          <div class="icon">
                            <i class="fas fa-map-marked-alt"></i>
                          </div>
                          <a href="" class="small-box-footer">Más información <i
                              class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <!-- ./col -->
                      <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                          <div class="inner">
                            <h3>{{ componentes_estacion_list|length }}</h3>
                            <p>Estadísticas</p>
                          </div>
                          <div class="icon">
                            <i class="fas fa-chart-pie"></i>
                          </div>
                          <a href="" class="small-box-footer">Más información <i
                              class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <!-- ./col -->
                      <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                          <div class="inner">
                            <h3>{{ salida_de_campo_list|length }}</h3>
                            <p>Salidas a campo</p>
                          </div>
                          <div class="icon">
                            <i class="fas fa-hiking"></i>
                          </div>
                          <a href="" class="small-box-footer">Más información <i
                              class="fas fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <!-- ./col -->
                    </div>
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                      <!-- Left col -->
                      <section class="col-lg-7 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <!-- Calendar -->
                        <div class="card">
                          <div class="card-header border-0">
                            <h3 class="card-title">
                              <i class="far fa-calendar-alt"></i>
                              Calendario
                            </h3>
                            <!-- tools card -->
                            <div class="card-tools">
                              <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-primary btn-sm" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                              </button>
                            </div>
                            <!-- /. tools -->
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body pt-0">
                            <!--The calendar -->
                            <div id="external-events">
                              <div id="calendar" style="width: 100%"></div>
                            </div>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </section>
                      <!-- /.Left col -->
                      <!-- right col (We are only adding the ID to make the widgets sortable)-->
                      <section class="col-lg-5 connectedSortable">
                        <!-- Map card -->
                        <div class="card bg-gradient-primary">
                          <div class="card-header border-0">
                            <h3 class="card-title">
                              <i class="fas fa-map-marker-alt mr-1"></i>
                              Geolocalización
                            </h3>
                            <!-- card tools -->
                            <div class="card-tools">
                              <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse"
                                title="Collapse">
                                <i class="fas fa-minus"></i>
                              </button>
                            </div>
                            <!-- /.card-tools -->
                          </div>
                          <div class="card-body">
                            <div id="map" style="height: 250px; width: 100%;"></div>
                          </div>
                          <!-- /.card-body-->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">
                              <i class="fas fa-chart-pie mr-1"></i>
                              Gráficas
                            </h3>
                            <div class="card-tools">
                              <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                  <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#sales-chart" data-toggle="tab">Línea</a>
                                </li>
                              </ul>
                            </div>
                          </div><!-- /.card-header -->
                          <div class="card-body">
                            <div class="tab-content p-0">
                              <!-- Morris chart - Sales -->
                              <div class="chart tab-pane active" id="revenue-chart"
                                style="position: relative;">
                                <figure class="highcharts-figure">
                                    <div id="container"></div>
                                    <p class="highcharts-description">
                                      Bar chart showing german population distribution by using a mirrored
                                      horizontal column chart with stacking and two x-axes.
                                    </p>
                                  </figure>
                                
                              </div>
                              <div class="chart tab-pane" id="sales-chart" style="position: relative;">
                                <figure class="highcharts-figure">
                                  <div id="container2"></div>
                                  <p class="highcharts-description">
                                      A basic column chart compares rainfall values between four cities.
                                      Tokyo has the overall highest amount of rainfall, followed by New York.
                                      The chart is making use of the axis crosshair feature, to highlight
                                      months as they are hovered over.
                                  </p>
                              </figure>
                              </div>
                            </div>
                          </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                      </section>
                      <!-- right col -->
                    </div>
                    <!-- /.row (main row) -->
                  </div><!-- /.container-fluid -->
                </section>
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">
                  {% if salida_de_campo_list %}
                  {% for salida_de_campo in salida_de_campo_list %}
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-{{ salida_de_campo.tipo_de_salida.color }}">
                      {{ salida_de_campo.fecha }}
                    </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                    <i
                      class="{{ salida_de_campo.tipo_de_salida.simbolo }} bg-{{ salida_de_campo.tipo_de_salida.color2 }}"></i>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><a href="{{ salida_de_campo.estacion.get_absolute_url }}">
                          {{ salida_de_campo.estacion }}</a> {{ salida_de_campo.tipo_de_salida.tipo }}
                      </h3>
                      <div class="timeline-body">
                        {{ salida_de_campo.observaciones }}
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  {% endfor %}
                  {% else %}
                  <div>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><b>No hay salidas de campo</b></h3>
                    </div>
                  </div>
                  {% endif %}
                  <div>
                    <i class="far fa-clock bg-gray"></i>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="calendario">
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var id_select;
    var calendar = new FullCalendar.Calendar(calendarEl, {
      // initialDate: '2020-09-12',
      locale: 'es',
      // initialView: 'timeGridWeek',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      height: 'auto',
      navLinks: true, // Permite dar click en día o semana para ver esa fecha en específico
      editable: true,
      selectable: true,
      selectMirror: true,
      nowIndicator: true,
      businessHours: true, // Cambia de color los fines de semana
      // Números de las semanas
      weekNumbers: true,
      weekNumberCalculation: 'ISO',


      eventDrop: function (info) {
        if (!confirm("¿Estás seguro de hacer este cambio?")) {
          info.revert();
          console.log("No se movió");
        }
        else {
          console.log("Movido");
          $.ajax({
            type: "PUT",
            url: "/api/Calendario_Salida_De_Campo/" + info.event.id + "/",
            data: {
              "fecha_inicio": info.event.startStr,
              "fecha_fin": info.event.endStr,
            }
          });
        }
      },

      select: function (start, end) {
        $('#ModalAdd').modal('show');
      },
      eventClick: function (event, element) {
        document.getElementById("select_estacion_tipo_edit").innerHTML = '<option disabled="disabled">Selecciona el tipo de salida</option>';
        document.getElementById("select_estacion_edit").innerHTML = '<option disabled="disabled">Selecciona la estación</option>';
        id_select = event.event._def.publicId;
        var lista_calendario = "";
        var estacion_seleccionada;
        var tipo_seleccionado;
        var fecha_inicial;
        var fecha_final;
        var observaciones;
        $.get('/remo/api/Calendario_Salida_De_Campo/', function (result) {
          lista_calendario = result;
          console.log("Lista Calendario: ");
          console.log(lista_calendario);
          for (let index = 0; index < lista_calendario.length; index++) {
            if (lista_calendario[index].id == event.event._def.publicId) {
              estacion_seleccionada = lista_calendario[index].estacion;
              tipo_seleccionado = lista_calendario[index].tipo_de_salida;
              fecha_inicial = lista_calendario[index].fecha_inicio;
              fecha_final = lista_calendario[index].fecha_fin;
              observaciones = lista_calendario[index].observaciones;
            }
          }
          document.getElementById("inicial_edit").innerHTML = '<input class="form-control" type="date" value="' + fecha_inicial + '" id="fecha_inicial_edit">';
          document.getElementById("final_edit").innerHTML = '<input class="form-control" type="date" value="' + fecha_final + '" id="fecha_final_edit">';
          document.getElementById("observaciones_edit").innerHTML = '<textarea class="form-control" rows="3" cols="200" id="observaciones_estacion_edit">' + observaciones + '</textarea>';
        });

        var lista_estacion = "";
        $.get('/remo/api/Estacion/', function (result) {
          lista_estacion = result;
          console.log("Lista Estación: ");
          console.log(lista_estacion);
          for (let index = 0; index < lista_estacion.length; index++) {
            // Se crea un elemento tipo option
            let z = document.createElement("option");
            // Al cual se le asigna el valor de la variable
            z.setAttribute("value", lista_estacion[index].id);
            if (lista_estacion[index].id == estacion_seleccionada) {
              console.log(lista_estacion[index].id);
              z.setAttribute("selected", "selected");
            }
            // Y se le asigna al valor a mostrar
            let t = document.createTextNode(lista_estacion[index].nombre);
            z.appendChild(t);
            // Luego se añade al html
            document.getElementById("select_estacion_edit").appendChild(z);
          }
        });

        var lista_tipo = "";
        $.get('remo/api/Tipo_Salida_De_Campo/', function (result) {

          lista_tipo = result;
          console.log("Lista Salida: ");
          console.log(lista_tipo);
          for (let index = 0; index < lista_tipo.length; index++) {
            // Se crea un elemento tipo option
            let z = document.createElement("option");
            // Al cual se le asigna el valor de la variable
            z.setAttribute("value", lista_tipo[index].id);
            if (lista_tipo[index].id == tipo_seleccionado) {
              z.setAttribute("selected", "selected");
            }
            // Y se le asigna al valor a mostrar
            let t = document.createTextNode(lista_tipo[index].tipo);
            z.appendChild(t);
            // Luego se añade al html
            document.getElementById("select_estacion_tipo_edit").appendChild(z);
          }
        });

        $('#ModalEdit').modal('show');

        $("#edit_salida").click(function () {
          var fecha_inicio = document.getElementById('fecha_inicial_edit').value;
          fecha_inicio = convertir_fecha(fecha_inicio);
          console.log(fecha_inicio);
          var fecha_fin = document.getElementById('fecha_final_edit').value;
          fecha_fin = convertir_fecha(fecha_fin);
          console.log(fecha_fin);
          // Estación
          console.log("/remo/api/Calendario_Salida_De_Campo/" + id_select);
          $.ajax({
            type: "PUT",
            url: "/remo/api/Calendario_Salida_De_Campo/" + id_select + "/",
            data: {
              "fecha_inicio": fecha_inicio,
              "fecha_fin": fecha_fin,
              "observaciones": document.getElementById('observaciones_estacion_edit').value,
              "estacion": document.getElementById('select_estacion_edit').value,
              "tipo_de_salida": document.getElementById('select_estacion_tipo_edit').value,
            }
          });
          location.reload();
        });
        $("#eliminar_salida").click(function () {
          $.ajax({
            type: "DELETE",
            url: "/remo/api/Calendario_Salida_De_Campo/" + id_select + "/",
          });
          location.reload();
        });
      },


      events: [
        {% for calendario in calendario_list %}
          {
        id: "{{ calendario.id }}",
        title: "{{ calendario.estacion }}" + " " + '{{ calendario.id }}',
        start: '{{ calendario.fecha_inicio | date:"Y-m-d" }}',
        end: '{{ calendario.fecha_fin | date:"Y-m-d" }}',
        color: "{{ calendario.estacion.color }}",
      },
      {% endfor %}
      ]
    });

  calendar.render();
  });

</script>
<!-- Geovisor -->
<script type="text/javascript" src="{% static 'js/geovisor_main.js' %}"></script>
<script type="text/javascript" src="{% static 'maps/Magdalena_Subregiones.js' %}">
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
  // Data gathered from http://populationpyramid.net/germany/2015/

  // Age categories
  var categories = [
    '0-4', '5-9', '10-14', '15-19',
    '20-24', '25-29', '30-34', '35-39', '40-44',
    '45-49', '50-54', '55-59', '60-64', '65-69',
    '70-74', '75-79', '80-84', '85-89', '90-94',
    '95-99', '100 + '
  ];

  Highcharts.chart('container', {
    chart: {
      type: 'bar'
    },
    title: {
      text: 'Population pyramid for Germany, 2018'
    },
    subtitle: {
      text: 'Source: <a href="http://populationpyramid.net/germany/2018/">Population Pyramids of the World from 1950 to 2100</a>'
    },
    accessibility: {
      point: {
        valueDescriptionFormat: '{index}. Age {xDescription}, {value}%.'
      }
    },
    xAxis: [{
      categories: categories,
      reversed: false,
      labels: {
        step: 1
      },
      accessibility: {
        description: 'Age (male)'
      }
    }, { // mirror axis on right side
      opposite: true,
      reversed: false,
      categories: categories,
      linkedTo: 0,
      labels: {
        step: 1
      },
      accessibility: {
        description: 'Age (female)'
      }
    }],
    yAxis: {
      title: {
        text: null
      },
      labels: {
        formatter: function () {
          return Math.abs(this.value) + '%';
        }
      },
      accessibility: {
        description: 'Percentage population',
        rangeDescription: 'Range: 0 to 5%'
      }
    },

    plotOptions: {
      series: {
        stacking: 'normal'
      }
    },

    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
          'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
      }
    },

    series: [{
      name: 'Male',
      data: [
        -2.2, -2.1, -2.2, -2.4,
        -2.7, -3.0, -3.3, -3.2,
        -2.9, -3.5, -4.4, -4.1,
        -3.4, -2.7, -2.3, -2.2,
        -1.6, -0.6, -0.3, -0.0,
        -0.0
      ]
    }, {
      name: 'Female',
      data: [
        2.1, 2.0, 2.1, 2.3, 2.6,
        2.9, 3.2, 3.1, 2.9, 3.4,
        4.3, 4.0, 3.5, 2.9, 2.5,
        2.7, 2.2, 1.1, 0.6, 0.2,
        0.0
      ]
    }]
  });

</script>
<script>
  Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Tokyo',
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

    }, {
        name: 'New York',
        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

    }, {
        name: 'London',
        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

    }, {
        name: 'Berlin',
        data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

    }]
});
</script>
{% endblock script %}