{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Formulario de Salidas de Campo | SIMEC</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Formato de caracterización social y familiar</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'salidas_de_campo' %}">Salidas de campo</a></li>
            <li class="breadcrumb-item">Formulario</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Datos iniciales -->
      <div class="card card-orange">
        <div class="card-header">
          <h3 class="card-title" id="nombre_estacion"><i class="fas fa-exclamation-circle"></i> Datos iniciales</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label>Número de ficha </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-id-card"></i>
                  </span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-append">
                </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Fecha de diligenciamiento</label>
                <div class="form-group row">
                  <div class="col-12">
                    <input class="form-control" type="date" value="" id="fecha_salida">
                  </div>
                </div>
              </div>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /Datos iniciales -->

      <!-- 1. Identificación del hogar -->
      <div class="card card-orange">
        <div class="card-header">
          <h3 class="card-title" id="nombre_estacion"><i class="fas fa-home"></i> Identificación del hogar</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">

            <div class="col-md-4">
              <label>Municipio </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  <select class="form-control select2" style="width: 100%;" required id="select_municipio">
                    <option value="" selected="selected" disabled="disabled">Seleccione el municipio
                    </option>
                    <option value="Nada">Nada</option>
                    {% if estaciones_list %}
                    {% for estacion in estaciones_list %}
                    <option value="{{ estacion.id }}">{{ estacion.nombre }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label>Corregimiento </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                  <select class="form-control select2" style="width: 100%;" required id="select_corregimiento">
                    <option value="" selected="selected" disabled="disabled">Seleccione el corregimiento
                    </option>
                    <option value="Nada">Nada</option>
                    {% if estaciones_list %}
                    {% for estacion in estaciones_list %}
                    <option value="{{ estacion.id }}">{{ estacion.nombre }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <label>Zona </label>
              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="radio" id="radioPrimary1" name="r1">
                  <label for="radioPrimary1">
                    Rural
                  </label>
                </div>
                &nbsp;
                <div class="icheck-primary d-inline">
                  <input type="radio" id="radioPrimary2" name="r1">
                  <label for="radioPrimary2">
                    Urbano
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Dirección </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-route"></i>
                  </span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-append">
                </div>
              </div>
              <br>
              <label>Está llenando el formulario en la casa de estudio </label>
              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <input type="radio" id="radioSi" name="r1">
                  <label for="radioSi">
                    Sí
                  </label>
                </div>
                &nbsp;
                <div class="icheck-primary d-inline">
                  <input type="radio" id="radioNo" name="r1">
                  <label for="radioNo">
                    No
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div id="mc_ubicacion" style="height: 250px; width: 100%;"></div>
              </div>
            </div>

            <!-- /.col -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.1. Identificación del hogar -->

      <!-- 3. Entornos del hogar -->
      <div class="card card-orange">
        <div class="card-header">
          <h3 class="card-title" id="nombre_estacion"><i class="fas fa-house-user"></i>Entornos del hogar
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">

            <div class="col-md-4">
              <label>Tipo de vivienda </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-home"></i></span>
                  <select class="form-control select2" style="width: 100%;" required id="select_tipo">
                    <option value="" selected="selected" disabled="disabled">Seleccione el tipo de vivienda
                    </option>
                    <option value="Nada">Casa</option>
                    <option value="Nada">Carpa</option>
                    <option value="Nada">Pieza</option>
                    <option value="Nada">Refugio</option>
                    <option value="Nada">Apartamento</option>
                    <option value="Nada">Institución de adultos y persona mayor</option>
                    <option value="Nada">Institución de protección niños y adolescentes</option>
                    <option value="Nada">Centro de reclusión </option>
                    <option value="Nada">Paga diario </option>
                    <option value="Nada">Hogar de paso </option>
                    <option value="Nada">Albergue </option>
                    <option value="Nada">Otro </option>
                    {% if estaciones_list %}
                    {% for estacion in estaciones_list %}
                    <option value="{{ estacion.id }}">{{ estacion.nombre }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label>Tenencia de la vivienda </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-file-invoice-dollar"></i></span>
                  <select class="form-control select2" style="width: 100%;" required id="select_tenencia">
                    <option value="" selected="selected" disabled="disabled">Seleccione la tenencia de la vivienda
                    </option>
                    <option value="Nada">Arriendo</option>
                    <option value="Nada">Subarriendo</option>
                    <option value="Nada">Propia</option>
                    <option value="Nada">Propia pagando</option>
                    <option value="Nada">Otro </option>
                    {% if estaciones_list %}
                    {% for estacion in estaciones_list %}
                    <option value="{{ estacion.id }}">{{ estacion.nombre }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label>Nombre de la Institución </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-school"></i>
                  </span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-append">
                </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.3. Entornos del hogar -->
    </div>

    <!-- 4. Uso de espacios de la vivienda -->
    <div class="card card-orange">
      <div class="card-header">
        <h3 class="card-title" id="nombre_estacion"><i class="fas fa-house-user"></i>Uso de espacios de la vivienda
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label>Número de habitaciones en el hogar</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-bed"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Ingrese el número de habitaciones">
              <div class="input-group-append">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label>Número de personas en el hogar</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-users"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Ingrese el número de personas">
              <div class="input-group-append">
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label>Convivencia con animales</label>
            <div class="form-group clearfix">
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary1">
                <label for="checkboxPrimary1">Perro
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary2">
                <label for="checkboxPrimary2">Gato
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary3">
                <label for="checkboxPrimary3">Otro
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label>Animales no vacunados contra la rabia </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-dog"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Ingrese el número de perros no vacunados">
              <div class="input-group-append">
              </div>
            </div>
            <br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-cat"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Ingrese el número de gatos no vacunados">
              <div class="input-group-append">
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <label>Tenencia de animales</label>
            <div class="form-group clearfix">
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimaryx">
                <label for="checkboxPrimaryx">Bovinos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimaryx2">
                <label for="checkboxPrimaryx2">Porcinos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimaryx3">
                <label for="checkboxPrimaryx3">Caprinos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary3x">
                <label for="checkboxPrimary3x">Equinos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary3xx">
                <label for="checkboxPrimary3xx">Ovinos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary3q">
                <label for="checkboxPrimary3q">Especies menores
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary3w">
                <label for="checkboxPrimary3w">Animales exóticos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary d-inline">
                <input type="checkbox" id="checkboxPrimary3aw">
                <label for="checkboxPrimary3aw">Otros
                </label>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.4. Uso de espacios de la vivienda -->

    <!-- 5. Riesgos ambientales de la vivienda -->
    <div class="card card-orange">
      <div class="card-header">
        <h3 class="card-title" id="nombre_estacion"><i class="fas fa-house-user"></i>Riesgos ambientales de la vivienda
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label style="font-size: 200%;">Espacio vital</label>
            <div class="form-group clearfix">
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1">Paredes y techos sin grietas, huecos, humedades
                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2">Adecuado manejo de combustibles (sólidos, líquidos, gaseosos)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox3">
                <label for="checkbox3">Las áreas habitacionales de la vivienda están separadas entre si (baño,
                  cocinas y habitaciones)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox4">
                <label for="checkbox4">La vivienda tiene iluminación y ventilación adecuada
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox5">
                <label for="checkbox5">Las condiciones físicas y locativas del baño son adecuadas
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox6">
                <label for="checkbox6">Las condiciones físicas y locativas de la cocina son adecuadas (evitan la
                  concentración de humo, chimeneas en buen estado (tubo extractor sin obstrucción, sin fisuras, con
                  salida fuera de la vivienda) lavaplatos interno)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox7">
                <label for="checkbox7">Adecuadas instalaciones eléctricas y de gas (instalaciones seguras, sin
                  recargar, fijas a paredes y techos)
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Consumo de agua potable</label>
            <div class="form-group clearfix">
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox1x">
                <label for="checkbox1x">La vivienda cuenta con adecuado sistema de suministro de agua (acueducto,
                  continuo, sin fugas, acometidas en buen estado, fuentes sin semovientes o libres de elementos
                  extraños)
                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox2x">
                <label for="checkbox2x">Los tanques o recipientes para el almacenamiento de agua están limpios, tapados
                  y
                  elevados del piso
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox3x">
                <label for="checkbox3x">Manipulación adecuada del agua para consumo (desinfección adecuada, uso seguro
                  de
                  utensilios)
                </label>
              </div>
              &nbsp;
              <br>
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox4x">
                <label for="checkbox4x">Uso racional y reutilización adecuada del agua
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Manejo de aguas residuales</label>
            <div class="form-group clearfix">
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox1q">
                <label for="checkbox1q">La familia cuenta con unidad sanitaria sin riesgo higiénico sanitario
                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox2q">
                <label for="checkbox2q">Existe adecuada disposición de aguas residuales y grises (baño, cocina,
                  lavadero, terraza, campo abierto, pozo séptico)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary ">
                <input type="checkbox" id="checkbox3q">
                <label for="checkbox3q">El baño, terraza y lavadero se encuentran limpios y sin olores
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Residuos sólidos</label>
            <div class="form-group clearfix">
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox1w">
                <label for="checkbox1w">Recipientes aseados, con tapa y bien ubicados

                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox2w">
                <label for="checkbox2w">Vivienda aseada y ordenada
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox3w">
                <label for="checkbox3w">Reutilización y practicas de reducción de residuos sólidos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox4w">
                <label for="checkbox4w">No hay presencia de residuos alrededor de la vivienda (focos o residuos
                  dispersos)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox5w">
                <label for="checkbox5w">La familia dispone los residuos sólidos adecuadamente (empresa de aseo,
                  recolección de envases de agroquímicos vacíos y lavados, relleno sanitario casero, residuos sin quemar
                  )
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox6w">
                <label for="checkbox6w">La familia conoce y cumple el horario de recolección de residuos sólidos
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Manejo de plagas</label>
            <div class="form-group clearfix">
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox1e">
                <label for="checkbox1e">No hay presencia de plagas en la vivienda (roedores, insectos, piojos, pulgas,
                  palomas)
                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox2e">
                <label for="checkbox2e">Se realiza adecuado control preventivo de plagas (químico o alternativo)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox3e">
                <label for="checkbox3e">Las practicas higiénico - sanitarias no fomentan la proliferación de vectores en
                  la vivienda
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Alimentos e higiene</label>
            <div class="form-group clearfix">
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox1r">
                <label for="checkbox1r">Almacenamiento y conservación adecuada de alimentos (lugar adecuado, alimentos
                  tapados, recipientes limpios, refrigerados, ahumados, salados)
                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox2r">
                <label for="checkbox2r">Adecuada limpieza de la cocina (orden, limpieza y desinfección)
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox3r">
                <label for="checkbox3r">Adecuado cuidado del cuerpo (uñas, manos, calzado, ropa limpia) a diario y para
                  la manipulación de alimentos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox4r">
                <label for="checkbox4r">Se verifican etiquetas y fechas de vencimiento de alimentos
                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox5r">
                <label for="checkbox5r">Adecuado estado y limpieza de los utensilios utilizados
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Conoce los riesgos químicos en el hogar</label>
            <div class="form-group clearfix">
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox1a">
                <label for="checkbox1a">Los productos químicos están almacenados de forma segura (lugar ventilado,
                  rotulados, separados de las áreas habitacionales)

                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox2a">
                <label for="checkbox2a">Se siguen las recomendaciones de uso de la etiqueta de los productos químicos

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox3a">
                <label for="checkbox3a">Los medicamentos están almacenados adecuadamente (rotulados, separados)

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox4a">
                <label for="checkbox4a">Adecuada disposición de medicamentos vencidos

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox5a">
                <label for="checkbox5a">Se implementan medidas de protección personal para el manejo de químicos,
                  incluido el estado y limpieza de equipo (guantes, peto, gafas,botas,careta )

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox6a">
                <label for="checkbox6a">Conocimiento sobre los signos de alarma para identificar la presencia de
                  monóxido de carbono (llama amarilla, hollín) y gases de agroquímicos (olor a químicos, derrames,
                  elementos impregnados con químicos)


                </label>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label style="font-size: 200%;">Nuestras mascotas</label>
            <div class="form-group clearfix">
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox1s">
                <label for="checkbox1s">Las mascotas (Gato, Perro) son vacunadas y desparasitadas periódicamente

                </label>
                <br>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox2s">
                <label for="checkbox2s">Las mascotas son aseadas periódicamente

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox3s">
                <label for="checkbox3s">Las mascotas u otras especies cuentan con alojamiento adecuado (aseado y
                  separado)

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox4s">
                <label for="checkbox4s">Las excretas se recogen y manejan adecuadamente

                </label>
              </div>
              &nbsp;
              <div class="icheck-primary">
                <input type="checkbox" id="checkbox5s">
                <label for="checkbox5s">Permanencia de las mascotas u otras especies en un lugar adecuado

                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.5. Riesgos ambientales de la vivienda -->
</div>



<div class="col-md-12">
  <br>
  <div class="card card-orange" style="text-align: center;">
    <button type="button" class="btn btn-success swalOK" type="submit" id="agregar">
      <a href="{% url 'salidas_de_campo' %}" style="text-decoration: none; color: white;">
        <i class="fas fa-clipboard-check"></i> Agregar salida
      </a>
    </button>
  </div>
</div>
<!-- /.col (right) -->
</div>

<!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block script %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>

</script>
<script>
  var latitud;
  var longitud;
  document.getElementById("salidas_de_campo").classList.add('active');
  // Obtener las coordenadas
  if (navigator.geolocation) {
    var success = function (position) {
      latitud = position.coords.latitude,
        longitud = position.coords.longitude;
      console.log(latitud);
      console.log(longitud);
      var map = L.map('mc_ubicacion', { attributionControl: false }).
        setView([latitud, longitud], 15);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/light-v9',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(map);

      var Medico_en_tu_casa_Icon = L.icon({
        iconUrl: '/static/img/Medico_en_tu_casa.svg',
        iconSize: [40, 40], // size of the icon
        iconAnchor: [15, 15], // point of the icon which will correspond to marker's location
        popupAnchor: [0, 0] // point from which the popup should open relative to the iconAnchor
      });

      L.marker([latitud, longitud], { icon: Medico_en_tu_casa_Icon }).addTo(map)
        .bindPopup('Ubicado en ' + latitud + ", " + longitud)
        .openPopup();
    }
    navigator.geolocation.getCurrentPosition(success, function (msg) {
      console.error(msg);
    });

  }

</script>
<script src="{% static 'js/salidas_de_campo_form.js' %}"></script>

<script>
  $(function () {

    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function () {
      Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalOK').click(function () {
      Toast.fire({
        icon: 'success',
        title: ' Agregado'
      })
    });
    $('.swalBorrado').click(function () {
      Toast.fire({
        icon: 'error',
        title: 'Borrado'
      })
    });
    $('.swalDefaultError').click(function () {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function () {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function () {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
      format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function (event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })

    $("input[data-bootstrap-switch]").each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })

  })
</script>
{% endblock script %}