{% extends 'base.html' %}
{% load static %}
{% block title %}
<!-- La variable que va acá es el mimso nombre del models pero en minúscula -->
<title>{{ datos_vivienda.nombre }} | SIMEC</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ datos_vivienda.nombre }} ({{ datos_vivienda.nro_ficha }})</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'familias' %}">Familia</a></li>
            <li class="breadcrumb-item active">{{ datos_vivienda.nombre }}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    {% if datos_integrante_list %}
    <div class="card-body pb-0">
      <div class="row d-flex align-items-stretch">
        <!-- Nombrar componentes  -->
        {% for datos_integrante in datos_integrante_list %}
        {% if datos_integrante.vivienda.nro_ficha == datos_vivienda.nro_ficha %}
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
              <h2 class="lead"><b>{{ datos_integrante.nombre }}</b></h2>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <p class="text-muted text-sm"><b>Parentesco: </b>{{ datos_integrante.paren }}</p>
                  <p class="text-muted text-sm"><b>Identificación: </b>{{ datos_integrante.identif }}</p>
                  <p class="text-muted text-sm"><b>Afiliación: </b>{{ datos_integrante.sgss }}</p>

                </div>
                <div class="col-5 text-center">
                  <a href="/static/img/familia/{{ datos_integrante.paren }}.svg" data-toggle="lightbox" data-title="Logo" data-gallery="Logo">
                    <img src="/static/img/familia/{{ datos_integrante.paren }}.svg" alt="Logo" class="img-fluid">
                  </a>
                </div>

              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="{{ datos_integrante.get_absolute_url }}" class="btn btn-sm btn-primary">
                  <i class="fas fa-info-circle"></i> Ver más
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if is_paginated %}
        <div class="container">
          <nav aria-label="...">
            <ul class="pagination justify-content-center">

              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i
                    class="fas fa-angle-double-left"></i></a>
              </li>
              {% endif %}

              {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i
                    class="fas fa-angle-double-right"></i></a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% endif %}
      </div>
    </div>
    {% else %}
    <p>No hay Familias</p>
    {% endif %}


    <!-- /.card-body -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block script %}
<script>
  document.getElementById("familias").classList.add('active');
</script>
{% endblock script %}