{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{ equipo.nombre }} | SIMEC</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ equipo.nombre }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'equipo' %}">Equipo</a></li>
            <li class="breadcrumb-item active">{{ equipo.nombre }}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body">
        <div class="row">
          <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
              Cada equipo atiende 2800 familias y cada auxiliar de enfermería 400 familias
            </p>
          </figure>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block script %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>
<script src="https://code.highcharts.com/modules/organization.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
  Highcharts.chart('container', {
    chart: {
      height: 600,
      inverted: true
    },

    title: {
      text: 'Highcharts Org Chart'
    },

    accessibility: {
      point: {
        descriptionFormatter: function (point) {
          var nodeName = point.toNode.name,
            nodeId = point.toNode.id,
            nodeDesc = nodeName === nodeId ? nodeName : nodeName + ', ' + nodeId,
            parentDesc = point.fromNode.id;
          return point.index + '. ' + nodeDesc + ', reports to ' + parentDesc + '.';
        }
      }
    },

    series: [{
      type: 'organization',
      name: 'Highsoft',
      keys: ['from', 'to'],
      data: [
        ['Shareholders', 'Board'],
        ['Board', 'CEO'],
        ['CEO', 'CTO'],
        ['CEO', 'CPO'],
        ['CEO', 'CSO'],
        ['CEO', 'HR'],
        ['CTO', 'Product'],
        ['CTO', 'Web'],
        ['CSO', 'Sales'],
        ['HR', 'Market'],
        ['CSO', 'Market'],
        ['HR', 'Market'],
        ['CTO', 'Market']
      ],
      levels: [{
        level: 0,
        color: 'silver',
        dataLabels: {
          color: 'black'
        },
        height: 25
      }, {
        level: 1,
        color: 'silver',
        dataLabels: {
          color: 'black'
        },
        height: 25
      }, {
        level: 2,
        color: '#980104'
      }, {
        level: 4,
        color: '#359154'
      }],
      nodes: [{
        id: 'Shareholders'
      }, {
        id: 'Board'
      }, {
        id: 'CEO',
        title: 'CEO',
        name: 'Grethe Hjetland',
        image: 'https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2020/03/17131126/Highsoft_03862_.jpg'
      }, {
        id: 'HR',
        title: 'HR/CFO',
        name: 'Anne Jorunn Fjærestad',
        color: '#007ad0',
        image: 'https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2020/03/17131210/Highsoft_04045_.jpg'
      }, {
        id: 'CTO',
        title: 'CTO',
        name: 'Christer Vasseng',
        image: 'https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2020/03/17131120/Highsoft_04074_.jpg'
      }, {
        id: 'CPO',
        title: 'CPO',
        name: 'Torstein Hønsi',
        image: 'https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2020/03/17131213/Highsoft_03998_.jpg'
      }, {
        id: 'CSO',
        title: 'CSO',
        name: 'Anita Nesse',
        image: 'https://wp-assets.highcharts.com/www-highcharts-com/blog/wp-content/uploads/2020/03/17131156/Highsoft_03834_.jpg'
      }, {
        id: 'Product',
        name: 'Product developers'
      }, {
        id: 'Web',
        name: 'Web devs, sys admin'
      }, {
        id: 'Sales',
        name: 'Sales team'
      }, {
        id: 'Market',
        name: 'Marketing team',
        column: 5
      }],
      colorByPoint: false,
      color: '#007ad0',
      dataLabels: {
        color: 'white'
      },
      borderColor: 'white',
      nodeWidth: 65
    }],
    tooltip: {
      outside: true
    },
    exporting: {
      allowHTML: true,
      sourceWidth: 800,
      sourceHeight: 600
    }

  });

</script>
{% endblock script %}